

.container {
  max-width: 768px;
}

.tile {
  padding: 1.3em 0;
  height: 200px;
}

.picked-tiles {
  font-weight: bold;
}

.picked-names {
  height: 60px;
  text-align: right;
}


/* Prevent elements hidden by Knockout from flashing on page load */
/* You also need to do a data-bind to the element- css: { hidden: false } */
.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  .tile {
    height: 135px;
  }
}
