
.container {
  max-width: 768px;
  background-color: #d3d3d3;
  margin-top: 1em;
  border-radius: 10px;
}

/* Title and Stats */

.title {
  font: 3em 'Fredoka One', serif;
  text-align: center;
  margin-top: .2em;
  color: #1e73b1;
}

.stats {
  background-color: #ededed;
  margin: 0 1.25em;
  padding: .25em;
  font: bold 1em Arial, serif;
  border: 2px solid;
  border-radius: 10px;
  height: 60px;
}

/* Game */

.duck-row {
  margin: 0 .25em;
}

.tile {
  padding: 1.3em 0;
  height: 200px;
}

.tile-img {
  border-radius: 5%;
}

/* Game Over Window */
.game-over {
  font-size: 3em;
  color: #1e73b1;
  position: fixed;
  text-align: center;
  z-index: 1;
  background-color: #ededed;
  top: 50%;
  left: 50%;
  /* Transforms are used to help with centering */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid #1e73b1;
  border-radius: 10px;
  padding: .25em;
}

.btn-play-again {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

/* Prevent elements hidden by Knockout from flashing on page load */
/* You also need to do a data-bind to the element- css: { hidden: false } */
.hidden {
  display: none;
}

@media screen and (max-width: 480px) {

  .container {
    margin: 1em;
  }

  /* Title and Stats */
  .title {
    font-size: 1.6em;
  }

  .stats {
    font-size: .7em;
  }

  /* Game */

  .duck-row {
    margin: 0;
  }

  .tile {
    height: 135px;
  }

  /* Game Over Window */
    .game-over {
      font-size: 1.5em;
    }
}